################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LionAdmin/bin/Debug/netcoreapp3.1
/LionAdmin.Data/bin/Debug
